<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Pretty Wiki</title>
  </head>
  <body>
    <div id="content-wrapper">
      <h1>Pretty Wiki</h1>
      <p>
        Welcome to Pretty Wiki, a content scrapper for Fandom wiki articles
        designed to offer a minimal, pleasant reading experience.
      </p>
      <p>
        The site is currently hardcoded to the
        <a href="https://naruto.fandom.com/">Naruto Fandom wiki</a>, but will
        eventually be expanded to any Fandom wiki.
      </p>
      <h2><a href="/wiki/Naruto">Start Reading</a></h2>
    </div>
  </body>
</html>
